* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Poppins', sans-serif;
}

body {
	background: #45474B;
	color: #ededed;
}

.header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	padding: 20px 10%;
	background: #45474B;
	display: flex;
	justify-content: space-between;
	align-items: center;
	z-index: 100;
}

.logo {
	 position: relative;
    font-size: 25px;
    color: hotpink;
    text-decoration: none;
    font-weight: 600;
    
}

.navbar a {
	font-size: 18px;
	color: #ededed;
	text-decoration: none;
	font-weight: 500;
	margin-left: 35px;
	transition: .3s;
}

.navbar a:hover,
.navbar a.active {
	color: #00abf0;
}

.home {
	height: 100vh;
	background: url("berosd.png") no-repeat;
	background-size: cover;
	background-position: center;
	display: flex;
	align-items: center;
	padding: 0 10%;
}

.home-content {
	max-width: 600px;
}

.home-content h1 {
	position: relative;
	font-size: 56px;
	font-weight: 700;
	line-height: 1.2;
}

.home-content h1::before {
	content: '';
	position: absolute;
	top: 0;
	right: 0;
	width: 100%;
	height: 100%;
	background: #45474B;
	animation: showRight 1s ease forwards;
	animation-delay: .6s;
}

.home-content h3 {
	position: relative;
	font-size: 32px;
	font-weight: 700;
	color: #E9B824;
}

.home-content h3::before {
	content: '';
	position: absolute;
	top: 0;
	right: 0;
	width: 100%;
	height: 100%;
	background: #45474B;
	animation: showRight 1s ease forwards;
	animation-delay: .8s;
}

.home-content p {
	position: relative;
	font-size: 16px;
	margin: 20px 0 40px;
}

.home-content p::before {
	content: '';
	position: absolute;
	top: 0;
	right: 0;
	width: 100%;
	height: 100%;
	background: #45474B;
	animation: showRight 1s ease forwards;
	animation-delay: 1s;
}

.home-content .btn-box {
	display: flex;
	justify-content: space-between;
	width: 345px;
	height: 50px;
}

.btn-box a {
	position: relative;
	display: inline-flex;
	justify-content: center;
	align-items: center;
	width: 150px;
	height: 100%;
	background: transparent;
	border: 2px solid #FF9EAA;
	border-radius: 8px;
	font-size: 19px;
	color: #5C5470;
	text-decoration: none;
	font-weight: 600;
	letter-spacing: 1px;
	z-index: 1;
	overflow: hidden;
	transition: .5s;
}

.btn-box a:hover {
	color: #00abf0;
}

.btn-box a:nth-child(2) {
	background: transparent;
	color: #5C5470;
}

.btn-box a:nth-child(2):hover {
	color: #00abf0;
}

.btn-box a:nth-child(2)::before {
	background: #5C5470;
}

.btn-box a::before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 0;
	height: 100%;
	background: #5C5470;
	z-index: -1;
	transition: .5s;
}

.btn-box a:hover::before {
	width: 100%;
}

.home-sci {
	position: absolute;
	bottom: 40px;
	width: 200px;
	display: flex;
	justify-content: space-between;
}

.home-sci a {
	position: relative;
	display: inline-flex;
	justify-content: center;
	align-items: center;
	width: 40px;
	height: 40px;
	background: transparent;
	border: 2px solid #00abf0;
	border-radius: 50%;
	font-size: 20px;
	color: #00abf0;
	text-decoration: none;
	z-index: 1;
	overflow: hidden;
	transition: .5s;
}

.home-sci a:hover {
	color: hotpink;
}

.home-sci a::before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 0;
	height: 100%;
	background:#00abf0;
	z-index: -1;
	transition: .5s;
}

.home-sci a:hover::before {
	width: 100%;
}


/* KEYFRAMES ANIMATION */
@keyframes showRight {
	100% {
		width: 0;
	}
}

.about {
	width: 100%;
	padding: 100px 0px;
	background-color: #191919;
}

.about img {
	height: 350px;
	width: 250px;
}

.about-text {
	width: 550px;
	margin-bottom: 250px;
}


.main {
	width: 1130px;
	max-width: 95%;
	margin: 0 auto;
	display: flex;
	align-items: center;
	justify-content: space-around;
}

.about-text h2 {
	color: white;
	font-size: 75px;
	text-transform: capitalize;
	margin-bottom: 50px;
}

.about-text h5 {
	color: yellow;
	letter-spacing: 3px;
	font-size: 30px;
	margin-bottom: 25px;
	text-transform: capitalize;
}

.about-text p {
	color: #fcfc;
	letter-spacing: 1px;
	line-height: 35px;
	font-size: 20px;
	margin-bottom: 45px;
}

.service {
	background: #191919;
	width: 100%;
	padding: 100px 0px;
}

.title h2 {
	color: white;
	font-size: 75px;
	width: 1130px;
	margin: 30px auto;
	text-align: center;
}

.box {
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 400px;
}

.card {
	height: 365px;
	width: 335px;
	padding: 25px 35px;
	background: #191919;
	border-radius: 20px;
	margin: 15px;
	position: relative;
	overflow: hidden;
	text-align: center;
}

.card i {
	font-size: 50px;
	display: block;
	text-align: center;
	margin: 25px 0px;
	color: #f9004d;
}

h5 {
	color: white;
	font-size: 23px;
	margin-bottom: 15px;
}

.pra p {
	color: black;
	font-size: 16px;
	line-height: 27px;
	margin-bottom: 25px;
}

.service .button {
	background-color: #f9004d;
	color: white;
	text-decoration: none;
	border: 2px solid transparent;
	font-weight: bold;
	padding: 13px 30px;
	border-radius: 30px;
	transition: .4s;
}

.service .button:hover{
	background-color: transparent;
	border: 2px solid #f9004d;
	cursor: pointer;
}

.service 2 {
	background: #191919;
	width: 100%;
	padding: 100px 0px;
}

.title h2 {
	color: white;
	font-size: 75px;
	width: 1130px;
	margin: 30px auto;
	text-align: center;
}

.box {
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 400px;
}

.card {
	height: 300px;
	width: 335px;
	padding: 25px 35px;
	background: deepskyblue;
	border-radius: 20px;
	margin: 15px;
	position: relative;
	overflow: hidden;
	text-align: center;
}

.card i {
	font-size: 50px;
	display: block;
	text-align: center;
	margin: 25px 0px;
	color: #f9004d;
}

h5 {
	color: white;
	font-size: 23px;
	margin-bottom: 15px;
}

.pra p {
	color: black;
	font-size: 16px;
	line-height: 27px;
	margin-bottom: 25px;
}

.service .button {
	background-color: #f9004d;
	color: white;
	text-decoration: none;
	border: 2px solid transparent;
	font-weight: bold;
	padding: 13px 30px;
	border-radius: 30px;
	transition: .4s;
}

.service .button:hover{
	background-color: transparent;
	border: 2px solid #f9004d;
	cursor: pointer;
}

.service 3 {
	background: #191919;
	width: 100%;
	padding: 100px 0px;
}

.title h2 {
	color: white;
	font-size: 75px;
	width: 1130px;
	margin: 30px auto;
	text-align: center;
}

.box {
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 400px;
}

.card {
	height: 300px;
	width: 335px;
	padding: 25px 35px;
	background: deepskyblue;
	border-radius: 20px;
	margin: 15px;
	position: relative;
	overflow: hidden;
	text-align: center;
}

.card i {
	font-size: 50px;
	display: block;
	text-align: center;
	margin: 25px 0px;
	color: #f9004d;
}

h5 {
	color: white;
	font-size: 23px;
	margin-bottom: 15px;
}

.pra p {
	color: black;
	font-size: 16px;
	line-height: 27px;
	margin-bottom: 25px;
}

.service .button {
	background-color: #f9004d;
	color: white;
	text-decoration: none;
	border: 2px solid transparent;
	font-weight: bold;
	padding: 13px 30px;
	border-radius: 30px;
	transition: .4s;
}

.service .button:hover{
	background-color: transparent;
	border: 2px solid #f9004d;
	cursor: pointer;
}

.contact-me {
	width: 100%;
	height: auto;
	background: #191919;
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: center;
	margin-top: 500px;
}

.contact-me h2 {
 font-size: 90px;
 line-height: 5;
 text-align: center;
}

..contact-me p{
	color: white;
	font-size: 30px;
	font-weight: bold;
	margin-bottom: 25px;
}

.contact-me .button-two {
	background-color: #f9004d;
	color: white;
	text-decoration: none;
	border: 2px solid transparent;
	font-weight: bold;
	padding: 13px 30px;
	border-radius: 30px;
	transition: .4s;
}

.contact-me .button-two:hover{
	background-color: transparent;
	border: 2px solid #f9004d;
	cursor: pointer;
}